.main {
  font-family: sans-serif;
}

.image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.image-root {
  background-image: url("../assets/root_image.png");
  aspect-ratio: 400 / 300;
}

.image-sub {
  background-image: url("../assets/sub_dir/sub_image.jpg");
  aspect-ratio: 400 / 250;
}
